/* 
    Created on : 16-nov-2020, 19:40:37
    Author     : belentnavarro
*/

/*** Definicion de variables ***/
:root {
    /* Colores */
    --g-dark: #16594A;
    --g-medium: #12928E;
    --g-light: #97CECC;
    --o-dark: #C4421A;
    --o-light: #F98f45;

    /* Tipografía para titulares */
    --font-family-poppins: Poppins, Roboto, Arial, sans-serif;

    /* Tipografía texto */
    --font-family-raleway: Raleway, Roboto, Arial, sans-serif;
}

/* Colores de Fondo*/
.bg--g-dark {
    background-color: var(--g-dark);
}

.bg--g-medium {
    background-color: var(--g-medium);
}

.bg--g-light {
    background-color: var(--g-light);
}

.bg--o-dark {
    background-color: var(--o-dark);
}

.bg--o-light {
    background-color: var(--o-light);
}

/* Colores de texto */
.text--g-dark {
    color: var(--g-dark);
}

.text--g-medium {
    color: var(--g-medium);
    transition: all linear 0.2s;
}

.text--g-medium:hover {
    color: var(--g-dark)
}

.text--g-light {
    color: var(--g-light);
}

.text--o-dark {
    color: var(--o-dark);
}

.text--o-light {
    color: var(--o-light);
}

.text--o-light:hover {
    color: var(--o-dark);
}

/* Familias tipográficas */
.ff-poppins {
    font-family: var(--font-family-poppins);
}

.ff-raleway {
    font-family: var(--font-family-raleway);
}

/*** Estilos generales ***/
body {
    font-family: var(--font-family-raleway);
    /* Se estable la media de 1 rem en 16px */
    font-size: 16px;
    background-image: url(../Img/bg_0022.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-poppins)
}

.btn--g-medium{
    color: #FFFFFF;
    background: var(--g-medium);
    border-color: var(--g-medium);
}

.btn--g-medium:hover {
    color: #FFFFFF;
    background: var(--g-dark);
    border-color: var(--g-medium);
}

.btn--g-light{
    color: #FFFFFF;
    background: var(--g-light);
    border-color: var(--g-light);
}

.btn--g-light:hover {
    color: #FFFFFF;
    background: var(--g-medium);
    border-color: var(--g-medium);
}

.btn--o-dark{
    color: #FFFFFF;
    background: var(--o-dark);
    border-color: var(--o-dark);
}

.btn--o-dark:hover {
    color: #FFFFFF;
    background: var(--o-light);
    border-color: var(--o-light);
}


/* Estructura general del home y paginas derivadas */
#dashboard {
    width: 100%;
}

#sidebar{
    min-width: 280px;
    max-width: 280px;
    transition: all linear 0.2s;  
}

#sidebar li {
    padding-top: 8px;
    padding-bottom: 8px;
}

#sidebar a {
    color: #ffffff;
}

#sidebar.active {
    margin-left: -280px;
}
/*
#sidebar.active ul {
position: absolute;
    left: -85px;
    z-index: 100;
}


#sidebarCollapse {
    position: relative;
    right: 85px;
}
*/

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all linear 0.2s;
}

/* Utilidades */
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
}

.bg-gradient-default {
    background: linear-gradient(87deg, var(--g-dark) 0, var(--g-medium) 100%) !important;
}

.opacity-8 {
    opacity: 0.8;
}

/* Imagenes de fondo de los header de las paginas */
/* Pagina pefil */
.header-home {
    background-image: url(../Img/bg_001.jpg);
    background-size: cover; 
    background-position: center center;
}

/* Tarjetas para mostrar preguntas */
.nav-tabs a {
    color: white;
}

#accordionEx1 h5, #accordionEx2 h5, #accordionEx3 h5 {
    color: var(--g-medium);
}

/* SVG botones los posiciono arriba en el z-index */
#moreAnswers, #minusAnswers, #updateOption {
    display: inline-block;
    position: relative;
    z-index: 20;
    color: var(--o-dark);
}

/* Boton para hacer scroll al inicio de la pagina */
#topScroll{
    width: 50px; 
    height: 50px;
    padding: 10px; 
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center; 
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    display: none;
    left: 30px;
}

#topScroll svg {
    margin-left: 0 !important; /* He tenido que usar el important, era imposible acceder por especificidad */
}

#topScroll:hover{
    background-color: #fff;
    text-decoration:none;
}

#topScroll:hover svg{
    color: var(--o-dark);
}